@tailwind base;
@tailwind components;
@tailwind utilities;

/* For custom scrollbars */
body {
  @apply bg-slate-900 text-slate-300;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1e293b; /* slate-800 */
}
::-webkit-scrollbar-thumb {
  background: #475569; /* slate-600 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* slate-500 */
}